.App {
    text-align: center;
  }

  .title{
    background-color: #61dafb;
    outline: solid blue 2px;
  }


  
  .likedPicsTable{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }
  .likedPicsFrame{
    position: relative;
    display: flex;
    margin: 10px;
    
  }
  .likedPicture{
    height:200px;
    width:200px;
    outline: black solid 5px;
  }
  .dislikeButton{
      position: absolute !important;
      height:40px !important;
      width:40px !important;
      border: 1px black solid !important;
      cursor: pointer !important;
  }
  .dislikeIcon{
    height:40px !important;
    width:40px !important;
  }



  .mainPageButton{
    position: relative;
    display: flex;
    align-items: center;
    height: 120px;
    width: 120px;
    cursor:pointer;
  }
  .mainButtonText{
    position:absolute;
    top:20%;
    left:10%;
  }
  .mainPageButtonPic{
    position: relative;
    height:120px;
    width: 120px;
  }