.App {
    text-align: center;
  }

  .title{
    background-color: #61dafb;
    outline: solid blue 2px;
  }

  .likedPicsTable{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }
  .likedPicsFrame{
    position: relative;
    display: flex;
    margin: 10px;
    
  }
  .likedPicture{
    height:200px;
    width:200px;
    outline: black solid 5px;
  }
  .dislikeButton{
      position: absolute;
      height:40px;
      width:40px;
      border: 1px black solid;
      opacity: 25%;
      cursor: pointer;
  }
  .dislikeButton:hover{
    opacity: 100%;
  }


  .mainPageButton{
    position: relative;
    display: flex;
    align-items: center;
    height: 120px;
    width: 120px;
    cursor:pointer;
  }
  .mainButtonText{
    position:absolute;
    top:20%;
    left:10%;
  }
  .mainPageButtonPic{
    position: relative;
    height:120px;
    width: 120px;
  }
  .prevSiteLink{
    height: 120px !important;
    width: 120px !important;
    display: block;
  }