.App {
    text-align: center;
  }

  .title{
    background-color: #61dafb;
    outline: solid blue 2px;
  }

  .likedPicsTable{
      display: flex;
      flex-wrap: wrap;
  }
  .likedPicsFrame{
    display: flex;
  }
  .likedPicture{
    position: relative;
    height:100px;
    width:100px;
    border: black solid 5px;
  }
  .dislikeButton{
      position: absolute;
      height:50px;
      width:50px;
      border: black solid 2px;
  }


  .mainPageButton{
    position: relative;
    display: flex;
    align-items: center;
    height: 120px;
    width: 120px;
    cursor:pointer;
  }
  .mainButtonText{
    position:absolute;
    top:20%;
    left:10%;
  }
  .mainPageButtonPic{
    position: relative;
    height:120px;
    width: 120px;
  }
  