.App {
    text-align: center;
    --main-color: blue;
  }

  .title{
    background-color: #61dafb;
    outline: solid var(--main-color) 2px;
  }


  
  .likedPicsTable{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }
  .likedPicsFrame{
    position: relative;
    display: flex;
    margin: 10px;
    
  }
  .likedPicture{
    height:40vmin;
    width:40vmin;
    outline: black solid 5px;
  }
  .dislikeButton{
      position: absolute !important;
      height:7vmin !important;
      width:7vmin !important;
      border: 1px black solid !important;
      cursor: pointer !important;
  }
  .dislikeIcon{
    height:7vmin !important;
    width:7vmin !important;
  }



  .mainPageButton{
    position: relative;
    display: flex;
    align-items: center;
    height: 120px;
    width: 120px;
    cursor:pointer;
  }
  .mainButtonText{
    position:absolute;
    top:20%;
    left:15%;
  }
  .mainPageButtonPic{
    position: relative !important;
    height:130px !important;
    width: 130px !important;
  }