@import url("mainPage.css");

.App {
    text-align: center;
  }

.Variables{
    --dislike-color:crimson;
}

  .title{
    background-color: var(--title-background);
    outline: solid var(--title-outline) 2px;
  }


  
  .likedPicsTable{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      height:80vmin;
      overflow-y: scroll;
      border: solid var(--components-black-outline) 5px;
  }
  .likedPicsFrame{
    position: relative;
    display: flex;
    margin: 10px;
    
  }
  .likedPicture{
    height:40vmin;
    width:40vmin;
    outline: var(--components-black-outline) solid 5px;
  }
  .dislikeButton{
      position: absolute !important;
      height:7vmin !important;
      width:7vmin !important;
      border: 1px var(--components-black-outline) solid !important;
      cursor: pointer !important;
  }
  .dislikeIcon{
    height:7vmin !important;
    width:7vmin !important;
  }



  .mainPageButton{
    position: relative;
    display: flex;
    align-items: center;
    height: 120px;
    width: 120px;
    cursor:pointer;
  }
  .mainButtonText{
    position:absolute;
    top:20%;
    left:15%;
  }
  .mainPageButtonPic{
    position: relative !important;
    height:130px !important;
    width: 130px !important;
  }