
.App {
    text-align: center;
    --dislike-button-sizes:7vmin;
    --liked-pics-sizes:40vmin;
  }

.Variables{
    --dislike-color:crimson;
}

  .title{
    background-color: var(--title-background);
    outline: solid var(--title-outline) 2px;
  }


  
  .likedPicsTable{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      height:80vmin;
      overflow-y: scroll;
      border: solid var(--components-black-outline) 5px;
  }
  .likedPicsFrame{
    position: relative;
    display: flex;
    margin: 10px;
    
  }
  .likedPicture{
    height:var(--liked-pics-sizes);
    width:var(--liked-pics-sizes);
    outline: var(--components-black-outline) solid 5px;
  }
  .dislikeButton{
      position: absolute !important;
      height:var(--dislike-button-sizes) !important;
      width:var(--dislike-button-sizes) !important;
      border: 1px var(--components-black-outline) solid !important;
      cursor: pointer !important;
  }
  .dislikeIcon{
    height:var(--dislike-button-sizes) !important;
    width:var(--dislike-button-sizes) !important;
  }



  .mainPageButton{
    --main-frame-sizes:120px;
    --main-button-pic-sizes:130px;
    position: relative;
    display: flex;
    align-items: center;
    height: var(--main-frame-sizes);
    width: var(--main-frame-sizes);
    cursor:pointer;
  }
  .mainButtonText{
    position:absolute;
    top:20%;
    left:15%;
  }
  .mainPageButtonPic{
    position: relative !important;
    height:var(--main-button-pic-sizes) !important;
    width: var(--main-button-pic-sizes) !important;
  }