.App {
  text-align: center;
}



.Options{
  position: relative;
  display:flex;
  justify-content: center;
}



.title{
  background-color: #61dafb;
  outline: solid blue 2px;
}



.mainPicOpt{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left:12vh;
}
.hidden{
  width: 50vmin;
  height: 50vmin;
  opacity:0%;
  position: absolute;
}
.mainPic{
  width: 50vmin !important;
  height: 50vmin !important;
  border:black solid 2px;
  position:absolute;
}
.mainPicDiv{
  display: flex;
  width: 50vmin !important;
  height: 50vmin !important;
  margin: 10px !important;
  justify-content: center !important;
  align-items: center !important;
}
.spinner{
  position: absolute;
}


.likeButton{ 
  display: flex;
  width: 25vmin;
  height: 25vmin;
  border: black solid 1px;
  margin: 5px;
  padding: 3px;
  cursor:pointer;
  justify-content: center;
  align-items: center;
}
.nextPicButton{ 
  display: flex;
  width: 25vmin;
  height: 25vmin;
  border: black solid 1px;
  margin: 5px;
  padding: 3px;
  cursor:pointer;
  justify-content: center;
  align-items: center;
}
.nextPicButton:hover{
  opacity: 70%;
}


.nextSiteLink{
  position: relative;
  display: flex;
  justify-content: center;
  height: 25vmin;
  width: 25vmin;
  cursor:pointer;
  left:12vh;
}
.likesButtonText{
  position:absolute;
  top:5vmin;
  left: 5vmin;
}
.likesPageButtonPic{
  position: relative !important;
  height:25vmin !important;
  width: 25vmin !important;
}
